.paymentSummaryWrapper {
	display: flex;
	flex-direction: column;
	font-size: 1.2rem !important;
	font-weight: 700;
	padding: 3rem;
}
h4,
h5 {
	text-transform: capitalize;
}
.subTotalItem {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
span {
	color: gray;
}

@media (max-width: 768px) {
	.paymentSummaryWrapper {
		width: 18.75rem;
		margin-left: 0.625rem;
	}
}
