.headerWrapper {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.headerWrapper p {
	font-weight: 700;
	font-size: 1rem;
	text-transform: uppercase;
	gap: 0.5rem;
	margin-right: 2rem;
}
.iconWrapper {
	width: 2rem;
	margin-right: 4rem;
}

/* Tablets and under */
@media (max-width: 768px) {
	.headerWrapper {
		flex-direction: column;
	}
	.headerWrapper p {
		font-weight: 400;
		font-size: 1rem;
	}
}
