.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
h3 {
	font-weight: bold;
	font-size: 1.325rem;
}
button {
	background-color: rgb(11, 102, 221);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border-radius: 0.313rem;
	margin-top: 2rem;
	color: #fff;
	font-size: 1rem;
	font-weight: 400;
}
.completePaymentButton {
	width: 25%;
}

@media (max-width: 768px) {
	.paymentSummaryWrapper {
		width: 18.75rem;
	}
}
